

.iconePortfolio_obsoleto {
   position: absolute;
  top: 30%;
  left: 50%;
  width: 90vw;
  max-width: 2400px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}

.iconePortfolio_obsoleto path {
  fill: none;
  opacity: 0.4;
  stroke: var(--color-text);
  stroke-width: 2;
}

.conteudo_portfolio{
  display: flex;
  
}

.conteudo_portfolio h2 {
  
 
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 61.6px */
}

.portfolio span {
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.animationPortfolio {
  display: inline-block;
  transform-origin: center center;
}